@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* TAGS ----------------------
------------------------------
--------------------------- */
 
    
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #897F7B;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #E94E1B;
}

a {
    color: #897F7B;
}



/* GENERAL -------------------
------------------------------
--------------------------- */

#about-page, #work-page, #internal-page {
    position: relative;
}

#gallery {
    width: 980px;
    height: auto;
    margin: auto;
    padding-top: 115px;
    padding-bottom: 60px;
}

#header {
    width: 100%;
    height: auto;
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 2px #DEDCDA;
    z-index: 10;
}

#header .content {
    width: 980px;
}

#hamburger {
    display: none;
}

#logo {
    width: 207px;
    height: 35px;
    margin: 10px 0 10px 0;
    padding-top: 5px;
    float: left;
}

#logo img {
    height: 35px;
    padding: 0 20px 0 5px;
}

#nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;    
    padding-top: 2px;
    float: right;
}

#nav li {
    display: inline;
    padding-left: 30px;
    line-height: 24px;
}

#nav li img {
    width: 22px;
    padding-top: 12px;
    position: relative; 
    top: 5px;
}

a {
    color: #897F7B;
}

a:hover {
    color: #E94E1B;
}
    
#about-page .active,
#work-page .active,
#webdesign-page .active {
    color: #E94E1B;
}


.content {
    margin: auto;
    overflow: hidden;
    clear: both;
}

#footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.copyright p {
    font-size: 10px;
    color: #897F7B;
    text-align: center;
    margin: 50px auto 25px auto;
}

/* GALLERY --------------------------------*/

#card {
    width: 310px;
    height: 234px;
    background: #fff;
    float:left;
    margin: 15px 8px;
}

#card:hover {
    opacity: 0.8;
}

#title_card {
    margin-top: 10px;
}

#title_card .title {
    color: #897F7B;
    font-size: 13px;   
}

#title_card .worktype {
    color: #E94E1B;
    font-size: 12px;   
}


/* ABOUT PAGE -----------------------------*/

#about-page #gallery h1{
    margin-left: 0;
}

#about_img {
    float: left;
    width: 460px;
    height: 534px;
    background: url(../images/about-main.png);
}

#about {
    float: right;
    width: 480px;
    height: 450px;
    margin-bottom: 45px;
}

/*#red-title {
    margin-bottom: 20px;
}*/

#red-title2 {
    float: left;
    width: 240px;
    margin-top: 50px;
}


h1 .about {
    margin-bottom: 50px;
}


#about-text {
    line-height: 30px;
    margin-top: 20px;    
}

#about img {
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    top: 5px;
    max-height: 22px;
}

#about-links {
    margin-top: 30px;
    height: 50px;
}

#about-links .linktext {
    position: relative; 
    top: 5px;
}




/* INTERNAL PAGE -------------------------*/

#internal-page #gallery{
    padding-top: 95px;
}

#main-img {
    width: 980px;
    margin: auto;
    text-align: center;
}

#main-img img {
    max-width: 980px;
    max-height: 670px;
    pointer-events: none;
} 

#gallery h1{
    width: 100%;
    margin: 15px 8px;
}

#internal-page p {
    margin: 0 0 10px 8px;
    clear: both;
}

.main-title {
    font-size: 18px;
    font-weight: 100;
    color: #897F7B;
}

.sub-title {
    font-size: 16px;
    color: #E94E1B;
    font-family: 'Open Sans';
    font-weight: 100;
}

#line {
    border-top: solid 1px #DEDCDA;
    margin-bottom: 30px;
}

.description {
    width: 100%;
    line-height: 30px;
    margin: 30px auto;
}
.source-text, .source-text a {
    font-size: 12px;
    color: #ccc;
}

.source-text a:hover {
    color: #E94E1B;
}


#process {
    overflow: hidden;
    display: block;
    height: auto;
    margin-bottom: 40px;
}

#process img {
    float: left;
    max-width: 310px;
    margin: 8px;
}

#process .designprocess {
    max-width: 472px;
    padding: 10px 0;
}


#process .designprocess-main {
    max-width: 856px;
    margin: auto;
    padding: 10px 0;
    float: none;
    display: block;
}


#process .wireframe {
    max-width: 308px;
    border: 1px solid;
    border-color: #eee;
}


#thumbnavi-block {
    overflow: hidden;
}

#thumbnavi {
    float: left;
    margin: 10px 10px;
    opacity: 0.8;
    background: #fff;
}

#thumbnavi:hover {
    opacity: 1;
}

#thumbnavi img {
    width: 142px;
    height: 96px;
}

    
/* CLASS -----------------------
------------------------------
--------------------------- */

.amp {
    font-size: 14px;
}


