@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* TAGS ----------------------
------------------------------
--------------------------- */
 
    
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #897F7B;
    display: inline;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #E94E1B;
}

a {
    color: #897F7B;
}

a:hover {
    color: #E94E1B;
}


/* GENERAL -------------------
------------------------------
--------------------------- */

#gallery {
    width: 980px;
    height: auto;
    margin: auto;
    padding-top: 115px;
    padding-bottom: 60px;
}

#header {
    width: 100%;
    height: auto;
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 2px #DEDCDA;
    z-index: 10;
}


#hamburger {
    display: none;
}

#logo {
    width: 207px;
    height: 35px;
    margin: 10px 0 10px 0;
    padding-top: 5px;
    float: left;
}

#logo img {
    height: 35px;
    padding: 0 20px 0 5px;
}

#nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;    
    padding-top: 2px;
    float: right;
}

#nav li {
    display: inline;
    padding-left: 30px;
    line-height: 24px;
}

#nav li img {
    width: 22px;
    padding-top: 12px;
    position: relative; 
    top: 5px;
}

    
.active {
    color: #E94E1B;
}


.content {
    width: 980px;
    margin: auto;
    overflow: hidden;
    clear: both;
}

#footer {
    text-align: center;
}

#footer p {
    font-size: 10px;
}

/* GALLERY --------------------------------*/

#card {
    width: 310px;
    height: 234px;
    background: #fff;
    float:left;
    margin: 15px 8px;
}

#card:hover {
    opacity: 0.8;
}

#title_card {
    margin-top: 10px;
}

.title {
    color: #897F7B;
    font-size: 13px;   
}

.worktype {
    color: #E94E1B;
    font-size: 12px;   
}


/* ABOUT PAGE -----------------------------*/

#about_img {
    float: left;
    width: 460px;
    height: 534px;
    background: url(../images/about-main.png);
}

#about {
    float: right;
    width: 480px;
    height: 450px;
    margin-bottom: 45px;
}

#about2col {
    float: left;
    width: 240px;
    margin-top: 50px;
}

#about-header {
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #E94E1B;
}

#about-text {
    line-height: 30px;
    margin-top: 20px;    
}

#about img {
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    top: 5px;
    max-height: 22px;
}

#about-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #897F7B;
}



/* INTERNAL PAGE -------------------------*/

#gallery{
    padding-top: 95px;
}

#main-img {
    width: 980px;
    margin: auto;
    text-align: center;
}

#main-img img {
    max-width: 980px;
    max-height: 670px;
    pointer-events: none;
} 

#gallery h1{
    width: 100%;
    margin: 15px 8px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #897F7B;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDCDA;
    margin-bottom: 30px;
}

.sub-title {
    font-size: 16px;
    color: #E94E1B;
    font-family: 'Open Sans';
    font-weight: 100;
    display: inline-block;
}

.description {
    width: 100%;
    line-height: 30px;
    margin: 30px auto;
    display: inline-block;
}
.source-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #ccc;
    display: inline-block;
}

.source-text a:hover {
    color: #E94E1B;
}

.weblabel {
    display: block;
    margin: 20px 8px 10px 8px;
}


#process {
    overflow: hidden;
    display: block;
    height: auto;
    margin-bottom: 10px;
}

#process img {
    float: left;
    max-width: 310px;
    margin: 8px;
}

.designprocess {
    min-width: 472px;
    padding: 5px 0;
}


.designprocess-main img {
    max-width: 980px;
    min-width: 500px;
    margin: auto;
    padding: 10px 0;
    float: none;
    display: block;
    overflow: hidden;
}


#process .wireframe {
    max-width: 308px;
    border: 1px solid;
    border-color: #eee;
}


#thumbnavi-block {
    overflow: hidden;
}

#thumbnavi {
    float: left;
    margin: 10px 10px;
    opacity: 0.8;
    background: #fff;
}

#thumbnavi:hover {
    opacity: 1;
}

#thumbnavi img {
    width: 142px;
    height: 96px;
}

    
/* CLASS -----------------------
------------------------------
--------------------------- */

.amp {
    font-size: 14px;
}


